{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="bg-dark py-5">
        <div class=" px-5">
            <div class="row gx-5 align-items-center justify-content-center">
                <!-- Conteúdo do Texto -->
                <div class="col-lg-7 text-justify-content-around">
                    <div class="my-5 text-center text-lg-start">
                        <h1 class="display-5 fw-bolder text-white mb-2">Descubra seu Potencial com o nosso DISC Assessment</h1>
                        <p class="lead fw-normal text-white-50 mb-4 ">Você está pronto para descobrir mais sobre si mesmo e direcionar sua carreira com confiança? Impulsione-a desde o Estágio com o DISCover! Descubra seus pontos fortes e como brilhar no ambiente de trabalho. Com nosso Teste DISC, transforme seus primeiros passos profissionais em saltos para o sucesso. Explore os traços que te destacam!</p>
                        
                            </div>
                </div>
                <!-- Imagem com Fundo Correspondente -->
                <div class="col-lg-5 d-none d-lg-block text-center">
                    <img class="img-fluid rounded-3 my-5" src="{% static 'images/disc-index.png' %}" alt="Modelo DISC" />
                    <p class="text-white-50">Ilustração representando os perfis comportamentais DISC.</p>
                </div>
                
            </div>
        </div>
    </div>

    <!-- Seção de Recursos do Template Bootstrap -->


        <!-- Features section-->
        <section class="py-5" id="features">
            <div class="container px-5 my-5">
                <div class="row gx-5">
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h2 class="fw-bolder mb-0">Explore sua Personalidade com o Teste DISC</h2>
                        <p class="lead">Faça o teste agora mesmo e descubra em qual área você se encaixa</p>
                        <a href="{% url 'account_signup' %}" class="btn btn-primary">Comece Agora</a>

                        <p class="lead mt-3">Ou, caso já tenha uma conta:</p>

                        <div class="col-12 mt-4">
                            <a class="btn btn-outline-dark" href="{% url 'account_login' %}">Fazer Login</a>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="row gx-5 row-cols-1 row-cols-md-2">
                            <div class="col mb-5 h-100">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-emoji-laughing"></i></div>
                                    <h2 class="h5">Conheça a Si Mesmo</h2>
                                <p class="mb-0">Descubra seus pontos fortes e áreas de desenvolvimento com base no modelo DISC.</p>
                                </div>
                            <div class="col mb-5 h-100">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-bar-chart-steps"></i></div>
                                <h2 class="h5">Melhore suas Relações</h2>
                                <p class="mb-0">Saiba como se comunicar melhor com pessoas de diferentes perfis DISC.</p>
                            </div>
                            <div class="col mb-5 mb-md-0 h-100">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-people"></i></div>
                                <h2 class="h5">Trabalho em Equipe</h2>
                                <p class="mb-0">Descubra como você se encaixa melhor em equipes e colabore de forma mais eficiente.</p>
                            </div>
                            <div class="col h-100">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-award"></i></div>
                                <h2 class="h5">Crescimento Profissional</h2>
                                <p class="mb-0">Use seu conhecimento DISC para avançar em sua carreira e atingir seus objetivos.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

            <!-- Section de Cards -->
            <section>
                <div class="container px-4"> <!-- Adiciona padding horizontal de 4 unidades -->
                    <div class="row justify-content-center">
                        <div class="row gx-5 justify-content-center mt-5">
                            <div class="col-lg-8 col-xl-6">
                                <div class="text-center">
                                    <h2 class="fw-bolder">Perfis Comportamentais</h2>
                                    <p class="lead fw-normal text-muted mb-5">Explore os diferentes perfis comportamentais DISC e entenda suas características distintas. Clique nos cards abaixo para saber mais sobre cada perfil.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- Perfil Dominante -->
                            <div class="col-lg-3 mb-4">
                                <a href="{% url 'core:perfil_dominante' %}" class="card h-100 shadow border-0 text-decoration-none text-dark">
                                    <img class="card-img-top img-fluid" src={% static 'images/dominante1.jpg' %} alt="Perfil DISC" />
                                    <div class="card-body p-3">
                                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">Perfil</div>
                                        <h5 class="card-title mb-3 stretched-link">Perfil Dominante</h5>
                                        <p class="card-text mb-0">O perfil comportamental dominante é caracterizado por ser assertivo, direto e focado em resultados. Pessoas desse perfil são frequentemente líderes e tomam decisões rapidamente.</p>
                                    </div>
                                    <div class="card-footer p-3 pt-0 bg-transparent border-top-0">
                                        <div class="d-flex align-items-end justify-content-between">
                                            <div class="small">
                                                <div class="fw-bold">Mais sobre este perfil</div>
                                                <div class="text-muted">Clique neste card para mais informações</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <!-- Perfil Influente -->
                            <div class="col-lg-3 mb-4">
                                <a href="{% url 'core:perfil_influente' %}" class="card h-100 shadow border-0 text-decoration-none text-dark">
                                    <img class="card-img-top img-fluid" src={% static 'images/influente1.jpg' %} alt="Perfil DISC" />
                                    <div class="card-body p-3">
                                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">Perfil</div>
                                        <h5 class="card-title mb-3 stretched-link">Perfil Influente</h5>
                                        <p class="card-text mb-0">O perfil comportamental influente é sociável, extrovertido e gosta de interagir com outras pessoas. Eles são ótimos comunicadores e têm facilidade para persuadir.</p>
                                    </div>
                                    <div class="card-footer p-3 pt-0 bg-transparent border-top-0">
                                        <div class="d-flex align-items-end justify-content-between">
                                            <div class="small">
                                                <div class="fw-bold">Mais sobre este perfil</div>
                                                <div class="text-muted">Clique neste card para mais informações</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <!-- Perfil Estável -->
                            <div class="col-lg-3 mb-4">
                                <a href="{% url 'core:perfil_estavel' %}" class="card h-100 shadow border-0 text-decoration-none text-dark">
                                    <img class="card-img-top img-fluid" src={% static 'images/estavel1.jpg' %} alt="Perfil DISC" />
                                    <div class="card-body p-3">
                                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">Perfil</div>
                                        <h5 class="card-title mb-3 stretched-link">Perfil Estável</h5>
                                        <p class="card-text mb-0">O perfil comportamental de estabilidade é conhecido por ser calmo, paciente e confiável. Essas pessoas valorizam a harmonia e são resistentes ao estresse.</p>
                                    </div>
                                    <div class="card-footer p-3 pt-0 bg-transparent border-top-0">
                                        <div class="d-flex align-items-end justify-content-between">
                                            <div class="small">
                                                <div class="fw-bold">Mais sobre este perfil</div>
                                                <div class="text-muted">Clique neste card para mais informações</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <!-- Perfil Cauteloso/conformado -->
                            <div class="col-lg-3 mb-4">
                                <a href="{% url 'core:perfil_cauteloso' %}" class="card h-100 shadow border-0 text-decoration-none text-dark">
                                    <img class="card-img-top img-fluid" src={% static 'images/cauteloso3.jpg' %} alt="Perfil DISC" />
                                    <div class="card-body p-3">
                                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">Perfil</div>
                                        <h5 class="card-title mb-3 stretched-link">Perfil Cauteloso</h5>
                                        <p class="card-text mb-0">O perfil comportamental cauteloso é detalhista, preciso e valoriza regras e procedimentos. Eles são bons em seguir instruções e garantir a precisão.</p>
                                    </div>
                                    <div class="card-footer p-3 pt-0 bg-transparent border-top-0">
                                        <div class="d-flex align-items-end justify-content-between">
                                            <div class="small">
                                                <div class="fw-bold">Mais sobre este perfil</div>
                                                <div class="text-muted">Clique neste card para mais informações</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <style>
                .card:hover {
                    transform: scale(1.05);
                    box-shadow: 0 0 11px rgba(33,33,33,.2);
                    z-index: 1;
                }
            </style>
 
        <!-- Gráfico DISC-->
        <section class="my-5 mb-5">
            <h2 class="container-fluid text-center mt-3">Gráfico de Perfis</h2>
            <p class="container text-justify-content-center mt-3">Este gráfico interativo apresenta a distribuição atual dos perfis comportamentais DISC, baseada nos resultados de testes realizados. Cada perfil DISC é simbolizado por uma cor distinta: vermelho para o perfil Dominante, amarelo para o Influente, verde para o Estável, e azul claro para o Cauteloso. Os dados são atualizados em tempo real, refletindo as variações e tendências nas características comportamentais dos indivíduos que completaram o teste. Este recurso visual oferece uma compreensão imediata e dinâmica da predominância de cada perfil comportamental entre os participantes.</p>
            <div class="container" style="max-width: 800px; margin: auto;">
                <canvas id="graficoDisc"></canvas>
            </div>

            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script>
                function buscarDadosEAtualizarGrafico() {
                    fetch('{% url "disc:estatisticas-disc" %}')
                        .then(response => response.json())
                        .then(dados => {
                            const ctx = document.getElementById('graficoDisc').getContext('2d');
                            if (window.graficoDisc && typeof window.graficoDisc.destroy === 'function') {
                                window.graficoDisc.destroy(); // Destrua o gráfico antigo antes de desenhar um novo
                            }
                            window.graficoDisc = new Chart(ctx, {
                                type: 'bar', // Tipo de gráfico
                                data: {
                                    labels: ['Dominante', 'Influente', 'Estabilidade', 'Cauteloso'],
                                    datasets: [{
                                        label: 'Indicador de perfil DISC por cores',
                                        data: [dados.d, dados.i, dados.s, dados.c], // Dados para cada perfil
                                        backgroundColor: [ // Cores de fundo para cada barra
                                            'rgba(255, 0, 0, 1)', // Vermelho para Dominante
                                            'rgba(255, 206, 86, 1)', // Amarelo para Influente
                                            'rgba(0, 128, 0, 1)', // Verde para Estável
                                            'rgba(54, 162, 235, 1)' // Azul claro para Conformado
                                        ],

                                        borderColor: [ // Cores da borda para cada barra
                                            'rgba(255, 0, 0, 1)', // Vermelho para Dominante
                                            'rgba(255, 206, 86, 1)', // Amarelo para Influente
                                            'rgba(0, 92, 15)', // Verde para Estabilidade
                                            'rgba(152, 171, 235)' // Azul claro para Conformado
                                        ],

                                        borderWidth: 0.5 // Largura da borda das barras
                                    }]
                                },
                                options: {
                                    responsive: true, // Torna o gráfico responsivo
                                    maintainAspectRatio: true, // Mantém o aspecto mesmo que mude o tamanho da tela
                                    scales: {
                                        y: {
                                            beginAtZero: true // A escala y começa em zero
                                        }
                                    },
                                    plugins: {
                                        title: {
                                            display: true,
                                            text: 'Número de Testes por Perfil'
                                        }
                                    }
                                }
                            });
                        }).catch(error => {
                            console.error('Erro ao buscar ou processar os dados:', error);
                        });
                }
                
                // Atualiza o gráfico a cada 15 segundos
                setInterval(buscarDadosEAtualizarGrafico, 15000);
                
                // Chama a função imediatamente para carregar os dados ao abrir a página
                buscarDadosEAtualizarGrafico();
                
            </script>
        </section>

        <div class="py-5 bg-light">
            <div class="container px-5 my-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-10 col-xl-7">
                        <div class="text-center">
                            <div class="fs-4 mb-4 fst-italic">"Conhece-te a Ti mesmo e conhecerás todo o universo e os deuses, porque se o que procuras não achares primeiro dentro de ti mesmo, não acharás em lugar algum".</div>
                            <div class="d-flex align-items-center justify-content-center">
                                <img class="rounded-circle me-3" src="{% static 'images/socrates.png' %}" alt="..." width="40" height="40" />
                                <div class="fw-bold">
                                    Sócrátes
                                    <span class="fw-bold text-primary mx-1">/</span>
                                    Filósofo Grego
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!-- retirado uma </div> pois parecia ser irrelavnte-->
        {% endblock %}
