{% extends 'base.html' %}
{% load static %}

{% block title %}Perfil DISC - Estável{% endblock %}

{% block content %}

            <section class="py-3">
                <div class="">
                    <div class="row gx-5">
                        <div class="col-lg-12"
                <article>
                    <section class="py-3">
                        <div class="container px-3 my-3">
                            <div class="row gx-5">
                                <div class="col-lg-12">
                                    <header class="mb-4 text-center">
                                        <div class="mb-4">
                                            <img src="{% static 'images/capa_perfil_estavel.jpg' %}" class="img-fluid rounded-3" alt="Foto do Perfil Estável" width="800" height="400">
                                        </div>
                                        <div><h1 class="fw-bolder mb-1">Perfil DISC Estável - O Pacificador!</h1>
                                        <div class="text-muted fst-italic mb-2 text-center">Compreendendo o Perfil Estável</div>
                                    </header>

                                    <section class="mb-5">
                                        <p class="fs-5 mb-4 text-justify-content-center">
                                            🌿 <strong>O Que é:</strong><br>
                                            <p class="fs-5 mb-4 text-justify-content-center">Se você é alguém que valoriza harmonia e é super colaborativo, você pode ser um "S". O perfil Estável, ou "S" no DISC, é como aquele amigo confiável e calmo que todo grupo precisa.</p>

                                            <p class="fs-5 mb-4 text-justify-content-center">Esse perfil é reconhecido por sua paciência, amor pelo trabalho em equipe e comprometimento inquestionável. Você é uma peça fundamental para manter a paz e a harmonia no ambiente de trabalho.</p>

                                            <p class="fs-5 mb-4 text-justify-content-center">Seja como um porto seguro em uma equipe, mostrando consistência e confiabilidade, ou como a voz tranquila que mantém o grupo unido, você tem um papel valioso no sucesso coletivo.</p>

                                            <p class="fs-5 mb-4 text-justify-content-center">Sua abordagem paciente e cooperativa é um trunfo, especialmente em ambientes de trabalho que buscam equilíbrio e estabilidade. Seus colegas de equipe apreciam sua presença e confiam na sua lealdade.</p>
                                        </p>
                                    </section>

                                    <section class="fs-5 mb-4 text-justify-content-center">
                                        🍃 <strong>Características Principais:</strong><br>
                                        - <strong>Paciente:</strong> Nada parece te tirar do sério. Sua calma é notável!<br>
                                        - <strong>Cooperativo:</strong> Você é um verdadeiro mestre na arte do trabalho em equipe e na busca por harmonia.<br>
                                        - <strong>Leal:</strong> Sua lealdade é inquestionável. Você é uma rocha em quem se pode confiar.<br>
                                        - <strong>Consistente:</strong> Prometeu? Com certeza cumpriu! Sua consistência é sua marca registrada.
                                    </section>

                                    <section class="fs-5 mb-4 text-jus">
                                        🔥 <strong>No Trabalho:</strong><br>
                                        Em estágios ou no seu primeiro emprego, suas habilidades de paciência e trabalho em equipe são inestimáveis. Você é o elo que mantém a equipe unida e focada!
                                    </section>

                                    <section class="fs-5 mb-4 text-jus">
                                        💡 <strong>Dicas de Sucesso:</strong><br>
                                        1. <strong>Valorize suas relações:</strong> Continue sendo um excelente parceiro de equipe.<br>
                                        2. <strong>Fale mais:</strong> Sua opinião é importante, então não tenha medo de expressá-la.<br>
                                        3. <strong>Aceite mudanças:</strong> Esteja aberto às mudanças. Flexibilidade é uma grande qualidade no mundo profissional.
                                    </section>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Tabela de Pontos Fortes e Fracos -->
                    <section>
                        <div class="container">
                            <table class="table table-success table-bordered text-center table-striped table-borderless" style="border-radius: 10px;">
                                <thead class="table-dark">
                                    <tr>
                                                            <th>Pontos Fortes</th>
                                                            <th>Pontos Fracos</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Paciente e tranquilo</td>
                                                            <td>Pode ser resistente a mudanças</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Excelente trabalho em equipe</td>
                                                            <td>Tendência a evitar conflitos</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Leal e confiável</td>
                                                            <td>Dificuldade em tomar decisões rápidas</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Consistente e comprometido</td>
                                                            <td>Pode ser excessivamente cauteloso</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Harmonia e busca por equilíbrio</td>
                                                            <td>Tendência a evitar confrontos</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </section>

                    <!-- Seção de Perfis de Pessoas -->
                    <section class="text-center mt-5">
                        <h2 class="fw-bolder mb-4">Pessoas com este Perfil</h2>
                        <div class="row">
                            <!-- Molde de círculo para cada pessoa -->
                            <!-- Substituir com as imagens e nomes reais -->
                            <div class="col">
                                <img src="{% static  'images/s_bill_gates.jpg' %}" class="rounded-circle" alt="Pessoa 2" style="width: 100px; height: 100px;">
                                <p class="fw-bold mt-1 mb-0">Bill Gates</p>
                                <p class="text-muted">CEO e Fundador da Microsoft</p>
                            </div>
                            <div class="col">
                                <img src="{% static 'images/s_barack_obama.jpg' %}" class="rounded-circle" alt="Pessoa 3" style="width: 100px; height: 100px;">
                                <p class="fw-bold mt-1 mb-0">Barack Obama</p>
                                <p class="text-muted">Ex-Presidente dos EUA, advogado e autor</p>
                            </div>
                            <div class="col">
                                <img src="{% static 'images/s_beyonce.png' %}" class="rounded-circle" alt="Pessoa 1" style="width: 100px; height: 100px;">
                                <p class="fw-bold mt-1 mb-0">Beyoncé</p>
                                <p class="text-muted">Cantora, compositora e atriz</p>
                            </div>
                        </div>
                    </section>
                </article>

                    <!-- Botão para voltar à página inicial -->

                    <div class="text-center mt-3">
                        <a href="{% url 'core:index' %}" class="btn btn-primary mt-5 text-center">Voltar</a>
                    </div>

            </div>
        </div>
    </div>
</section>

{% endblock %}