{% extends 'base.html' %}

{% load static %}

{% block title %}Perfil DISC - Influente{% endblock %}

{% block content %}
<section class="py-3">
    <div class="container px-5 my-3">
        <div class="row gx-5">
            <div class="col-lg-12">
                <!-- Conteúdo do Perfil-->
                <article>
                    <!-- Cabeçalho do Perfil-->
                    <header class="mb-4 text-center">
                        <!-- Foto do Perfil-->
                        <div class="mb-5">
                            <img src="{% static 'images/capa_perfil_influente.jpg' %}" class="img-fluid rounded-3 shadow-lg" alt="Foto do Perfil Influente" width="800" height="400">
                        </div>
                        <!-- Título do Perfil-->
                        <h1 class="fw-bolder mb-1">Perfil DISC: Influente - O Ícone da Comunicação</h1>
                        <!-- Subtítulo do Perfil-->
                        <div class="text-muted fst-italic mb-2 text-center">Compreendendo o Perfil Influente</div>
                    </header>
                    <!-- Conteúdo do Perfil-->
                    <section class="mb-5">
                        <p class="fs-5 mb-4 text-justify-content-center">
                            Imagine-se como o personagem carismático daquela série popular, que todos não só adoram, mas também se lembram muito depois do episódio ter terminado. Esse é o espírito do perfil Influente, também conhecido como "I" no DISC. Se você é aquela pessoa que adora conversar, inspirar e tem aquele brilho que atrai todos ao seu redor, então, sim, você é um "I"!
                        </p>
                        
                        <p class="fs-5 mb-4 text-justify-content-center">
                            Este perfil não é apenas sobre ser sociável; é sobre ser a luz do sol em um dia nublado. Com uma energia contagiante e um espírito magnético, você não só ilumina qualquer ambiente, mas também dá vida e cor a ele. Sua presença é como um raio de esperança e alegria, fazendo com que todos ao seu redor se sintam mais vivos.
                        </p>
                        
                        <p class="fs-5 mb-4 text-justify-content-center">
                            Mas não pense que é só sobre ser o centro das atenções. O perfil "I" é um maestro da empatia e da expressão. Você tem a incrível capacidade de se colocar no lugar dos outros, entender suas emoções e reagir de forma que eles se sintam ouvidos e compreendidos. Isso não é apenas uma habilidade; é um dom raro.
                        </p>
                        
                        <p class="fs-5 mb-4 text-justify-content-center">
                            Em reuniões, festas ou encontros casuais, você é a estrela que guia a conversa. Com sua habilidade inata de contar histórias, você não apenas fala, mas envolve, cativa e encanta. Sua presença é tão marcante que, mesmo depois de você sair, sua energia ainda ressoa no ambiente.
                        </p>
                        
                        <p class="fs-5 mb-4 text-justify-content-center">
                            E sua criatividade? Ah, ela não conhece limites! Para você, cada conversa, cada projeto é uma tela em branco esperando para ser preenchida com suas ideias coloridas e inovadoras. Você vê oportunidades onde outros veem obstáculos, e soluções onde outros veem problemas.
                        </p>
                        
                        <p class="fs-5 mb-4 text-justify-content-center">
                            Claro, todo super-herói tem seu calcanhar de Aquiles. Seu entusiasmo às vezes pode te levar a assumir mais do que você pode lidar. E sua natureza aberta pode, às vezes, ser mal interpretada. Mas, com um pouco de foco e planejamento, esses pequenos desafios podem ser facilmente superados.
                        </p>

                        <p class="fs-5 mb-4 text-justify-content-center">
                            Em resumo, ser um perfil "I" é como ser um farol de possibilidades e positividade. Com sua habilidade de comunicar, inspirar e iluminar, você não apenas transforma ambientes, mas também toca corações e mentes. Você não é apenas parte da equipe; você é o coração dela. Use essa energia incrível para inspirar, motivar e criar uma onda de positividade por onde quer que vá!
                        </p>
                        
                        <p class="fs-5 mb-4 text-justify-content-center">
                            ☀️ <strong>Características Principais:</strong><br>
                            
                            <strong>Sociável:</strong> Você adora interagir e fazer novos amigos. Networking? Isso é com você mesmo!
                            <br>
                            <strong>Entusiasmado:</strong> Sua energia e otimismo são contagiante. Você vê o copo sempre meio cheio.
                            <br>
                            <strong>Persuasivo:</strong> Com seu jeito comunicativo, você consegue convencer e motivar os outros com facilidade.
                            <br>
                            <strong>Criativo:</strong> Ideias inovadoras? Você tem de monte! Sua criatividade não conhece limites.
                        </p>
                        <p class="fs-5 mb-4 text-justify-content-center">
                            😁 <strong>No Trabalho:</strong><br> Como estagiário ou no seu primeiro emprego, seu carisma e habilidade de comunicação podem abrir muitas portas. Você será aquele que energiza a equipe e traz ideias frescas para a mesa.
                            <br><br>
                            💡 <strong>Dicas de Sucesso:</strong>
                            <br>
                            <strong>Use sua voz:</strong> Sua habilidade de comunicar é sua maior força. Use-a para liderar e motivar.
                            <br>
                            <strong>Ouça também:</strong> Lembre-se que comunicação é uma via de mão dupla. Ouvir os outros é tão importante quanto falar.
                            <br>
                            <strong>Organize-se:</strong> Às vezes, seu entusiasmo pode te levar a abraçar muitos projetos de uma vez. Tente se organizar para não se sobrecarregar.
                        </p>
                    </section>

                    
                    <section>
                        
                        <table class="table table-warning table-bordered text-center table-striped" style="border-radius: 10px;">
                            <thead class = "table-dark">
                                <tr>
                                    <th>Pontos Fortes</th>
                                    <th>Pontos Fracos</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Excelente Comunicador</td>
                                    <td>Geralmente não termina o que começa</td>
                                </tr>
                                <tr>
                                    <td>Inspirador e Motivador</td>
                                    <td>Pode ser impulsivo</td>
                                </tr>
                                <tr>
                                    <td>Aberto a Novas Experiências</td>
                                    <td>Desafio com detalhes e rotina</td>
                                </tr>
                                <tr>
                                    <td>Adapta-se Rapidamente a Mudanças</td>
                                    <td>Às vezes pode ser visto como superficial</td>
                                </tr>
                                <tr>
                                    <td>Grande capacidade de persuasão</td>
                                    <td>Tendência a procrastinar</td>
                                </tr>
                            </tbody>
                        </table>
                    </section>

                    <!-- Seção de Perfis de Pessoas -->
                    <section class="text-center mt-5">
                        <h2 class="fw-bolder mb-4">Pessoas com este Perfil</h2>
                        <div class="row">
                            <!-- Molde de círculo para cada pessoa -->
                            <!-- Substituir com as imagens e nomes reais -->
                            <div class="col">
                                <img src="{% static 'images/i_taylor_swift.png' %}" class="rounded-circle" alt="Taylor Swift" style="width: 100px; height: 100px;">
                                <p class="fw-bold mt-1 mb-0">Taylor Swift</p>
                                <p class="text-muted">Cantora, compositora e empresária</p>
                            </div>
                            <div class="col">
                                <img src="{% static 'images/i_angelina_jolie.png' %}" class="rounded-circle" alt="Angelina Jolie" style="width: 100px; height: 100px;">
                                <p class="fw-bold mt-1 mb-0">Angelina Jolie</p>
                                <p class="text-muted">Atriz, diretora e ativista humanitária</p>
                            </div>
                            <div class="col">
                                <img src="{% static 'images/i_neymar_jr.jpg' %}" class="rounded-circle" alt="Pessoa 1" style="width: 100px; height: 100px;">
                                <p class="fw-bold mt-1 mb-0">Neymar Jr.</p>
                                <p class="text-muted">Jogador de futebol</p>
                            </div>
                        </div>
                    </section>
                    <!-- Botão para voltar à página inicial -->

                        <div class="text-center mt-3">
                            <a href="{% url 'core:index' %}" class="btn btn-primary mt-5 text-center">Voltar</a>
                        </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
