{% extends 'base.html' %}

{% block title %}Resultados DISC{% endblock %}
{%load static%}

{% block content %}
<section class="py-5">
    <div class="container px-0">
        <div class="bg-light rounded-3 py-5 px-0 px-md-0 mb-5 text-center">
            <div class="mb-5">
                <div class="feature bg-primary bg-gradient text-white rounded-5 mb-3">
                    <i class="bi bi-person-badge"></i>
                </div>
                <h1 class="fw-bolder">Olá, {{ user.first_name }}!</h1>
                <h1 class="fw-bolder">Seus Resultados</h1>
                <p class="lead fw-normal text-muted mb-0">.</p>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-10 col-xl-8">
                    <div class="bg-light rounded-3 py-4 px-0 px-md-0 mb-4">
                        <h2>
                            <i class="bi bi-graph-up text-primary"></i> Médias por perfil
                        </h2>
                        <ul class="list-unstyled">
                            <li><i class="bi bi-person text-primary"></i> Dominante: {{ resultado_disc.dominante }}</li>
                            <li><i class="bi bi-person text-primary"></i> Influente: {{ resultado_disc.influente }}</li>
                            <li><i class="bi bi-person text-primary"></i> Estabilidade: {{ resultado_disc.estabilidade }}</li>
                            <li><i class="bi bi-person text-primary"></i> Conformado: {{ resultado_disc.conformado }}</li>
                        </ul>
                        <h3><i class="bi bi-person-check text-primary"></i> Seu perfil mais alto: {{ perfil_mais_alto }}</h3>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 mb-5">
                            <div class="py-4 px-4 px-md-5">
                                <img src="{% static 'images/foto.png' %}" class="img-fluid rounded-3 mb-4" alt="Locais trabalho" width="250" height="250">
                               
                                <h3><i class="bi bi-info-circle text-primary"></i> Descrição</h3>
                                <p>{{ descricao_perfil }}</p>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-5">
                            <div class="py-4 px-4 px-md-5">
                                <img src="{% static 'images/eng.png' %}" class="img-fluid rounded-3 mb-4" alt="Locais trabalho" width="250" height="250">
                                <h3><i class="bi bi-geo-alt text-primary text-justify-content-center"></i> Locais de trabalho ideais</h3>
                                <p>{{ locais_trabalho }}</p>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
</section>
<section class="py-0">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card mb-4">
                    <div class="card-body bg-light">
                        <div class="text-center">
                            <img class="card-img-top" src="{% static 'images/5-img-perfil.png' %}" alt="Imagem de capa do card" style="max-width: 800px; max-height: 800px;">
                        </div>
                        <div class="mt-4">
                            <h3 class="card-title">
                                <i class="bi bi-info-circle text-primary text-center:"></i> Cargos mais suscetíveis na área de T.I.
                            </h3>
                        </div>
                        {% if perfil_mais_alto == 'Dominante' %}
                        <p>Cargos mais suscetíveis para o perfil dominante:</p>
                        <ul style="list-style-type: none; padding: 0;">
                            <li style="margin-bottom: 10px; text-align: justify;">
                                <strong>Consultoria em TI:</strong> Consultores de TI fornecem recomendações estratégicas e soluções personalizadas para problemas de TI complexos. Este cargo requer habilidades analíticas avançadas e capacidade de tomar decisões informadas rapidamente. Profissionais com perfil Dominante são ideais para este papel, pois possuem a assertividade e a confiança necessárias para aconselhar e guiar clientes.</li>
                            <li style="margin-bottom: 10px; text-align: justify;">
                                <strong>Gestão de Projetos:</strong> Responsáveis por liderar equipes em projetos de TI, os Gerentes de Projetos definem objetivos, gerenciam recursos e garantem que os prazos sejam cumpridos. Eles precisam de habilidades de liderança, capacidade de tomar decisões rápidas e eficazes, e serem orientados para resultados. A assertividade e a visão estratégica do perfil Dominante são cruciais para o sucesso nesta posição.</li>
                            <li style="margin-bottom: 10px; text-align: justify;">
                                <strong>Analista de Negócios:</strong> Analistas de Negócios atuam na interface entre TI e os objetivos do negócio, traduzindo necessidades comerciais em requisitos técnicos. Este papel exige uma compreensão clara dos objetivos empresariais e a habilidade de comunicar soluções eficazes. O perfil Dominante é adequado devido à sua capacidade de liderança e habilidades de comunicação estratégica.</li>
                        </ul>
                        
                        {% elif perfil_mais_alto == 'Influente' %}
                        <p>Cargos mais suscetíveis para o perfil influente:</p>
                        <ul style="list-style-type: none; padding: 0;">
                            <li style="margin-bottom: 10px; text-align: justify;">
                                <strong>Desenvolvedor Web:</strong> Este profissional é responsável pela criação, design e manutenção de websites. O Desenvolvedor Web utiliza linguagens de programação como HTML, CSS e JavaScript para construir interfaces de usuário atraentes e funcionais. Trabalha em estreita colaboração com designers gráficos e equipes de marketing para garantir que o site atenda às necessidades dos usuários finais e aos objetivos da empresa. O perfil Influente é ideal para esta função devido à sua habilidade de entender as tendências do mercado digital e de se comunicar efetivamente com diferentes equipes.
                            </li>
                            <li style="margin-bottom: 10px; text-align: justify;">
                                <strong>Designer Gráfico:</strong> O Designer Gráfico em TI trabalha na criação de conteúdos visuais para aplicativos, websites e plataformas de mídia digital. Combina habilidades artísticas com tecnologia para comunicar ideias através de imagens, layouts e designs inovadores. Este cargo demanda criatividade, habilidade em softwares de design como Adobe Photoshop e Illustrator, e uma compreensão das preferências do público-alvo. A natureza entusiasmada e a visão criativa do perfil Influente são fundamentais para inovar e captar a atenção dos usuários.
                            </li>
                            <li style="margin-bottom: 10px; text-align: justify;">
                                <strong>Instrutor de TI:</strong> Instrutores de TI são responsáveis por educar indivíduos em diversas tecnologias, seja em ambientes acadêmicos ou corporativos. Desenvolvem materiais didáticos, conduzem aulas e workshops, e avaliam o progresso dos alunos. Este cargo requer não apenas um sólido conhecimento técnico, mas também a capacidade de apresentar informações complexas de maneira clara e envolvente. A natureza comunicativa e entusiasta do perfil Influente é ideal para motivar os alunos e facilitar um ambiente de aprendizado eficaz.
                            </li>
                        </ul>
                        
                        {% elif perfil_mais_alto == 'Estabilidade' %}
                        <p>Cargos mais suscetíveis para o perfil de estabilidade:</p>
                        <ul style="list-style-type: none; padding: 0;">
                            <li style="margin-bottom: 10px; text-align: justify;">
                                <strong>Desenvolvedor de Sistemas:</strong> Responsáveis pela criação e manutenção de sistemas de software, os Desenvolvedores de Sistemas precisam de uma abordagem sistemática e atenção aos detalhes. Eles devem ser capazes de trabalhar de maneira consistente e confiável. O perfil Estável se adapta bem a este papel, oferecendo a paciência e a meticulosidade necessárias.</li>
                            <li style="margin-bottom: 10px; text-align: justify;">
                                <strong>Analista de Suporte:</strong> Analistas de Suporte fornecem assistência técnica e resolvem problemas de sistemas de TI. Este cargo requer paciência, habilidades de resolução de problemas e a capacidade de trabalhar sob pressão. O perfil Estável é ideal para esta função, pois traz calma, empatia e uma abordagem metódica para o suporte técnico.</li>
                            <li style="margin-bottom: 10px; text-align: justify;">
                                <strong>Analista de Segurança da Informação:</strong> Especializados na proteção de sistemas de informação contra ameaças, os Analistas de Segurança da Informação precisam ser meticulosos e proativos na prevenção de riscos. O perfil Estável, com sua natureza cuidadosa e focada, é ideal para garantir a segurança e a integridade dos dados.</li>
                        </ul>

                        {% elif perfil_mais_alto == 'Conformado' %}
                        <p>Cargos mais suscetíveis para o perfil conformado:</p>
                        <ul style="list-style-type: none; padding: 0;">
                            <li style="margin-bottom: 10px; text-align: justify;">
                                <strong>Engenheiro de Software: </strong> Engenheiros de Software projetam e desenvolvem sistemas de software complexos. Eles precisam de habilidades de planejamento e execução precisas. O perfil Cauteloso se encaixa bem neste papel, trazendo uma abordagem disciplinada e minuciosa para a engenharia de software. Eles são responsáveis por analisar requisitos, criar arquiteturas de software, escrever código limpo e eficiente, realizar testes e depurar problemas. Além disso, colaboram com equipes multidisciplinares, participam de revisões de código e mantêm-se atualizados com as tendências e tecnologias mais recentes. A atenção aos detalhes e a busca pela excelência são características essenciais para o sucesso como Engenheiro de Software.
                            <li style="margin-bottom: 10px; text-align: justify;">
                                <strong>Cientista de Dados:</strong> Cientistas de Dados usam métodos estatísticos e de machine learning para extrair conhecimentos valiosos de conjuntos de dados complexos. Eles aplicam técnicas avançadas de análise e modelagem para identificar padrões, tendências e insights que podem impulsionar a tomada de decisões estratégicas nas organizações. O perfil Cauteloso é perfeito para este papel, pois traz a precisão, a disciplina e a atenção aos detalhes necessárias para a ciência de dados.</li>
                            <li style="margin-bottom: 10px; text-align: justify;">
                                <strong>Analista de Qualidade de Software (QA Analyst): </strong> O Analista de Qualidade de Software (QA Analyst) é um profissional meticuloso, focado em assegurar que os produtos de software cumpram os mais altos padrões de qualidade antes de seu lançamento. Este cargo exige uma abordagem detalhada e sistemática para o desenvolvimento e execução de testes, identificação de bugs e problemas de usabilidade, e uma colaboração próxima com as equipes de desenvolvimento para implementar as soluções necessárias. Com habilidades técnicas para compreender as especificações do software e sugerir melhorias, o perfil Cauteloso é perfeito para esta função, combinando disciplina, meticulosidade e uma forte tendência para a precisão e cautela, garantindo assim a entrega de produtos de alta qualidade e a satisfação do cliente.</li>
                        </ul>
                            <!-- Conteúdo do perfil Conformado -->
                        {% else %}
                            <p>Você ainda não fez o teste.</p>
                        {% endif %}

                        <!-- Condição para exibir o botão de acordo com o perfil mais alto -->
                        {% if perfil_mais_alto == 'Dominante' %}
                            <a href="{% url 'core:perfil_dominante' %}" class="btn btn-dark">
                                Leia mais sobre o perfil
                            </a>
                        {% elif perfil_mais_alto == 'Influente' %}
                            <a href="{% url 'core:perfil_influente' %}" class="btn btn-dark">
                                Leia mais sobre o perfil
                            </a>
                        {% elif perfil_mais_alto == 'Estabilidade' %}
                            <a href="{% url 'core:perfil_estavel' %}" class="btn btn-dark">
                                Leia mais sobre o perfil
                            </a>
                        {% elif perfil_mais_alto == 'Conformado' %}
                            <a href="{% url 'core:perfil_cauteloso' %}" class="btn btn-dark">
                                Leia mais sobre o perfil
                            </a>
                        {% endif %}
                    </div>
                </div>

                <!-- Link para voltar ao perfil do usuário -->
                <div class="text-center mt-5">
                    <a href="{% url 'core:index' %}" class="btn btn-primary mt-3">
                        Retornar a página inicial <i class="bi bi-arrow-right"></i>
                    </a>
                </div>

                <div class="text-center mt-5">
                    <p>Todos os perfis:</p>
                    <a href="{% url 'core:perfil_dominante' %}" class="btn btn-link">Dominante</a>
                    <a href="{% url 'core:perfil_influente' %}" class="btn btn-link">Influente</a>
                    <a href="{% url 'core:perfil_estavel' %}" class="btn btn-link">Estável</a>
                    <a href="{% url 'core:perfil_cauteloso' %}" class="btn btn-link">Conformado</a>
                </div>
            </div>
</section>
{% endblock %}